* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #F6F6F6;
}

.container {
    max-width: 800px;
    margin-inline: auto;
    padding: 30px 10px;
}

:root {
  --main-green-color: #223125;
}
